.root {
  // box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0.3em 0.3em .5em rgba(0, 0, 0, 0.2);
  position: relative;
  margin-bottom: 20px;
  margin-right: 10px;

  input {
    border: 2px solid rgba(0, 0, 0, 0.1);
    padding: 12px 20px;
    padding-left: 34px;
    width: 300px;
    border-radius: 10px;
    font-size: 16px;
    &:focus {
      border: 2px solid rgba(0, 0, 0, 0.2);
    }
  }

  svg {
    width: 26px;
    height: 26px;
    opacity: 0.3;
    position: absolute;
  }
  .search {
    left: 6px;
    top: 12px;
  }
  .close {
    width: 20px;
    height: 20px;
    right: 10px;
    top: 14px;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
}
